<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.worldtimeapp">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- This was inserted and modified to true to allow app to recieve -->
    <!-- data from insecure http -->
    <!-- Solved error: "Error Occurred Bad state: Insecure HTTP is not allowed by platform:" -->
    <application android:usesCleartextTraffic="true"/>

</manifest>
